<mat-card class="example-card">
  <img mat-card-image src="{{ pokemon.image }}" />
  <mat-card-content>
    <p>{{ pokemon.name | uppercase }}</p>

    <div>
      <label>Abilities</label>
      <ul>
        <li *ngFor="let ability of abilities">
          {{ ability.name | titlecase }}
        </li>
      </ul>
    </div>

    <div>
      <label>Forms</label>
      <ul>
        <li *ngFor="let form of forms">{{ form.name | titlecase }}</li>
      </ul>
    </div>

    <div>
      <label>Types</label>
      <ul>
        <li *ngFor="let type of types">{{ type.name | titlecase }}</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
